html, body { 
    --color-1: #edd8c1;
    --color-2: #dcedc1;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
    background-image: linear-gradient(135deg, var(--color-1) , var(--color-2));
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: black;
}

.container {
    width: 800px;
	height: 500px;
    text-align: center;
    margin: auto;
    background-image: url(casino_resize.png);
	background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
    padding: 50px;
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dice {
    border-radius: 10px;
    width:60px;
    height: 60px;
    background-color: #fff;
    margin: 0 auto;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: #fff;
    padding: 20px 30px;
    font-size: 20px; 
    margin: 40px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rollBtn {
    background-color:#fff;
}

#resetBtn {
    background-color: #fff;
}

#holdBtn {
    background-color: #fff;
}

button:focus {
    outline: none;
}

#resetBtn {
    display: none;
}

#holdBtn {
    display: none;
}

.active {
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
}